<%= form_for @post do |form| %>
  <%= form.text_field :title %>
  <%= "Title #{@post.errors[:title]}" if @post.errors[:title] %></br>
  <%= form.text_area :content %><%= "Content" %></br>
  <%= form.submit %>
<% end -%>
