.post{:id => "post#{post.id}"}
  %hr
  %p
    = time_ago_in_words post.created_at
    ago
  %p
    author:
    = post.user.nick
  %p
    = post.content

  - if user_signed_in?
    = link_to 'edit post', edit_topic_post_path(@topic, post), remote: true
    = link_to 'delete post', [@topic, post], remote: true, method: :delete, data: { confirm: 'Are you sure?' }
  %hr