%header
  - if user_signed_in?
    %p
      Welcome
      = current_user.nick + "^-^ !   "+"!   "
      = link_to 'logout', destroy_user_session_path, method: :delete
  - else
    = link_to 'login', new_user_session_path