!!!
%html
  %head
    %title
      SimpleForum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %p.notice
      = notice
    %p.alert
      = alert

    = render 'layouts/header'

    = yield

    = render 'layouts/footer'
