<div class="a-column a-span2 olpSellerColumn" role="gridcell">
  <h3 class="a-spacing-none olpSellerName"><img alt="Amazon.com" src="https://images-na.ssl-images-amazon.com/images/I/01dXM-J1oeL.gif">
  </h3>
</div>