<div class="a-column a-span2 olpSellerColumn" role="gridcell">
  <h3 class="a-spacing-none olpSellerName"><span class="a-size-medium a-text-bold"><a href="/gp/aag/main/ref=olp_merch_name_7?ie=UTF8&amp;asin=0545261244&amp;isAmazonFulfilled=0&amp;seller=AYXDDSK9W0RO9">Kathysshop</a></span>
  </h3>
  <p class="a-spacing-small"><b class="olpJustLaunched">Just Launched</b>(<span class="olpSellerProfile"><a href="/gp/aag/main/ref=olp_merch_new_seller_7?ie=UTF8&amp;asin=0545261244&amp;isAmazonFulfilled=0&amp;seller=AYXDDSK9W0RO9">Seller Profile</a></span>)</p>
</div>