%p
  Categories:
%hr

- @categories.each do |category|
  %p
    = link_to category.name , category
  %p
    = category.description
  %p
    posts:
    = category.topics_count
  - if user_signed_in?
    = link_to "edit category", edit_category_path(category)
    = link_to "delete category", category, method: :delete, data: { confirm: 'Are you sure?' }
  %hr


- if user_signed_in?
  %p
    = link_to "add new category", new_category_path