%p
  = @category.name
%hr

- @topics.each do |topic|
  %p
    = topic.title
  %p
    = topic.description

  <br>
  %p
    created:
    = time_ago_in_words topic.created_at
    ago by
    = topic.user.nick
  %p
    views:
    = topic.views
  - if user_signed_in?
    = link_to "edit post", edit_topic_path(topic)
    = link_to "delete post", topic, method: :delete, data: { confirm: 'Are you sure?' }
  %hr

%p
  = link_to "add new post", new_topic_path
  = link_to 'Back', :back