%h1
  = @topic.title

%div#posts
  = render @posts

- if user_signed_in?
  = link_to 'New Post', new_topic_post_path(@topic), remote: true

%div{:id => "post-form", :style => "display:none;"}

= link_to "Back", :back